@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  @include flex;

  width: 100vw;
  height: 8vh;

  background-color: $bright;
  border-bottom: 3px solid $middle;
}

.logo {
  height: 70%;
}

.nav {
  @include flex(center, flex-end, center);
  gap: 20px;

  width: 90%;
  height: 100%;
}
