@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.button {
  @include flex;

  width: 6vw;
  height: 4vh;

  font-size: 1vw;

  background-color: white;
  border: 2px solid $bright;
  border-radius: 5px;

  cursor: pointer;

  transition: 0.2s;
  &:hover {
    background-color: $white;
    transition: 0.2s;
  }

  & img {
    height: 80%;
  }
}

.header {
  border: 3px solid $middle;
}
